h1,h2,p {
  color: maroon;
font-family: 'Courier New', Courier, monospace;
font-size: 25px; 
}

p{

  color:black;
font-size: 25px;
}
 .couve {
 color: coral ;
font-size: 25px;
 }
 .farofa{
  color: coral;
font-size: 25px;
}
 .arrozBranco {
    color: coral;
font-size: 25px;
}
 .gomaDElaranja {
   color: coral;
font-size: 25px;
 }
 .orelhaDePorco {
 color: darkblue;
font-size: 25px;
 }
 .CarneSeca{
 color: darkblue;
font-size: 25px;
 } 
 .Garganta{
    color: darkblue;
font-size: 25px;
 }
 .LinguiçaCalabresa{
   color: darkslategray;
font-size: 25px;
 }
.LinguiçaPaio{
    color: darkslategray;
    font-size: 25px;
}
.rabodePorco{
    color: darkslategray;
font-size: 25px;
}
.bancon{
    color: darkslategray;
font-size: 25px;
}
.Guaraná{
    color: rgb(84, 66, 219);
font-size: 25px;
}
.Guaravita{
    color: rgb(58, 76, 213);
    font-size: 25px;
}
.digiteEmail{
   color: black;
   font-size: 25px;
}
.DigiteSenha{
    color: black;
font-size: 25px;
}
.digiteNome{
    color: black;
font-size: 25px;
}
.quantidadeFeijo{
   color: black;
font-size: 25px;
}
#idPrincipal{
   color: black;
}

h1:hover{
 color: blue;

}
.div1{
    border: 2px solid black;
    background-color: rgb(114, 114, 50);
}
